# Logs and temporary files
*.log
*.tmp

# Build files and caches
*.bin
*.o
*.out

# Downloaded Packages
*.deb
*.rpm

# System files
.DS_Store
.Thumbs.db
.Trash-*
.Spotlight-V100
.fseventsd

# Ignore IDE-specific directories
.vscode/
.idea/

# IDE
*.swp
*~
*.pyc
__pycache__/